body {
    background-image: url('/images/task-management.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}
header{
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #dee2e6;
}
header h1{
    margin: 0;
    font-size: 2em;
    color: #343a40;
}
.text-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#textInput{
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#addTodoBtn{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #5cb85c;
    color: black;
    cursor: pointer;
}
#addTodoBtn:hover{
    background-color: #4cae4c;
}

.delete-btn {
    background-color: #d9534f;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.delete-btn:hover {
    color: white;
}

.task-div {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    align-items: center;
}
.task-div .text {
    margin-right: auto;
}
.complete-btn {
    background-color: #f0ad4e;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    order: 1;
}
.complete-btn:hover{
    color: white;
}

.complete-btn.completed {
    background-color: #5cb85c;
}