body {
    background-color: aquamarine;
}

.text-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.delete-btn {
    color: red;
}

.delete-btn:hover {
    color: rgb(122, 49, 21);
    cursor: pointer;
}

.task-div {
    font-size: 20px;
}

input[type="checkbox"] {
    margin-left: 60px;
    cursor: pointer;
}

/* label till checkbox */
label[for="myCheck"] {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}